@font-face {
  font-family: "mont-lt";
  src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "mont-lt-it";
  src: url("../fonts/Montserrat-LightItalic.ttf");
}

@font-face {
  font-family: "mont-rg";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "mont-smb";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}

:root {
  --h1-fsz: 3rem;
  --h2-fsz: 2.5rem;
  --h3-fsz: 2rem;
  --h4-fsz: 1.8rem;
  --p-fsz: 1.6rem;
  --bt-fsz: 1.4rem;
  --min-fsz: 1rem;
  --lt: "mont-lt";
  --lt-it: "mont-lt-it";
  --rg: "mont-rg";
  --smb: "mont-smb";
  --rd: #925252;
  --gn: #4a6e43;
  --bk: #000000;
  --bl: #111829;
  --gr: #292929;
  --grl: #b0b4b4;
  --wt: #ffffff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bl);
}

.App {
  width: 100%;
  margin: 3.5rem 0;
}

.task-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  height: auto;
  margin: auto;
  padding: 1.5rem;
}

.task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 95%;
  max-width: 102.4rem;
  height: auto;
}

.task-form input,
.task-form textarea {
  width: 90%;
  font-family: var(--lt);
  font-size: var(--bt-fsz);
  color: var(--grl);
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  background-color: var(--gr);
}

.task-form input {
  height: 2.5rem;
}

.task-form textarea {
  height: 15rem;
  resize: none;
}

.task-form input::placeholder,
.task-form textarea::placeholder {
  font-family: var(--lt-it);
  font-size: var(--bt-fsz);
  color: var(--grl);
}

.task-form button {
  font-family: var(--smb);
  font-size: var(--bt-fsz);
  color: var(--wt);
  letter-spacing: 0.1rem;
  width: 14rem;
  height: 4rem;
  background-color: var(--gn);
  border: none;
  box-shadow: none;
  border-radius: 0.5rem;
  transition: box-shadow 0.3s;
}

.task-form button:hover {
  box-shadow: 0 0 1rem 0.01rem var(--bk);
  transition: box-shadow 0.3s;
}

.task-list {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(26rem, 35rem));
  justify-items: center;
  justify-content: center;
  gap: 3rem;
  width: 95%;
  max-width: 150rem;
  height: auto;
  padding: 0;
}

h1 {
  font-family: var(--smb);
  font-size: var(--h1-fsz);
  color: var(--wt);
  letter-spacing: 0.1rem;
  text-align: center;
  width: fit-content;
  margin: 2rem auto 1rem;
}

h2 {
  font-family: var(--rg);
  font-size: var(--h2-fsz);
  color: var(--wt);
  letter-spacing: 0.1rem;
  text-align: center;
  width: fit-content;
  margin: 1rem 0;
}

h3 {
  font-family: var(--rg);
  font-size: var(--h3-fsz);
  color: var(--wt);
  letter-spacing: 0.1rem;
  text-align: center;
  margin: 1rem 0;
}

li:not(li:last-child span) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92.5%;
  height: auto;
  list-style: none;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--gr);
}

li p {
  font-family: var(--lt-it);
  font-size: var(--p-fsz);
  color: var(--grl);
  letter-spacing: 0.1rem;
  text-align: justify;
  width: 95%;
  height: auto;
  margin: 1rem 0;
  background-color: var(--gr);
}

li button {
  font-family: var(--smb);
  font-size: var(--bt-fsz);
  color: var(--wt);
  letter-spacing: 0.1rem;
  width: 15rem;
  height: 4rem;
  margin: 1rem 0;
  border: none;
  box-shadow: none;
  border-radius: 0.5rem;
  background-color: var(--rd);
  transition: box-shadow 0.3s;
}

li button:hover {
  box-shadow: 0 0 1rem 0.01rem var(--bl);
  transition: box-shadow 0.3s;
}

span {
  font-family: var(--lt);
  font-size: var(--min-fsz);
  color: var(--wt);
  width: 95%;
}

.modal-body {
  display: flex;
  place-items: center;
  place-content: center;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #00000050;
}

.modal-content {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: var(--wt);
  width: 60%;
  max-width: 62rem;
  height: auto;
  padding: 2rem;
  gap: 1.5rem;
  border-radius: 1rem;
}

.modal-content h4 {
  font-family: var(--smb);
  font-size: var(--h4-fsz);
  color: var(--bk);
  text-align: center;
  margin: 0.5rem 0;
}

.modal-content label{
  font-family: var(--smb);
  font-size: var(--bt-fsz);
  margin: 0 0 1rem;
}

.selection-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  height: fit-content;
}

#confirmDelete {
  background-color: var(--rd);
  margin: 0;
}

#cancelDelete{
  background-color: var(--bl);
  margin: 0;
}
