@font-face {
  font-family: "mont-lt";
  src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "mont-lt-it";
  src: url("../fonts/Montserrat-LightItalic.ttf");
}

@font-face {
  font-family: "mont-rg";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "mont-smb";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}

:root {
  --h1-fsz: 3rem;
  --h2-fsz: 2.5rem;
  --h3-fsz: 1.9rem;
  --h4-fsz: 1.7rem;
  --p-desc-fsz: 1.6rem;
  --p-inter-fsz: 1.5rem;
  --p-fsz: 1.4rem;
  --bt-fsz: 1.2rem;
  --min-fsz: 1rem;
  --lt: "mont-lt";
  --lt-it: "mont-lt-it";
  --rg: "mont-rg";
  --smb: "mont-smb";
  --rd: #EA8B8B;
  --gn: #4a6e43;
  --bk: #000000;
  --bl: #111829;
  --gr: #292929;
  --grl: #b0b4b4;
  --wt: #ffffff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bl);
}

.app-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 22rem;
  height: 15vh;
  max-height: 20rem;
  gap: 1rem;
}

.app-header section:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 102.4rem;
  padding: 1.5rem;
}

.dashboard-link{
  width: 5rem !important;
  height: 5rem !important;
  margin: 0.5rem 3rem
}

.dashboard-link .dashboard-link-ico{
  width: 5rem;
}

.app-header section:nth-child(2){
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header section:nth-child(2)>label {
  font-family: var(--lt-it);
  font-size: var(--p-desc-fsz);
  color: var(--grl);
  width: fit-content;
  margin: 0 0 0 2rem;
  padding: 0;
}

.settings-link{
  width: 4rem !important;
  height: 4rem !important;
  margin: 0 0 0 1.5rem;
}

.settings-link .settings-link-ico{
  width: 4rem;
  height: 4rem;
  margin: 0;
}

.app-header section div {
  width: 11rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 65vh;
}

.app-home p {
  font-family: var(--lt);
  font-size: var(--h4-fsz);
  color: var(--wt);
  text-align: center;
  width: 70%;
  max-width: 72rem;
  letter-spacing: 0.05rem;
  line-height: 2.5rem;
  margin: 0;
}

.app-home p>a:link,
.app-home p>a:visited {
  color: var(--rd);
  text-decoration: none;
}

.text-white { 
  color: var(--wt) !important; 
}

.task-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: auto;
  margin: auto;
  padding: 0 1.5rem 1.5rem;
}

.register-form,
.login-form,
.task-form,
.recover-pass-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 95%;
  max-width: 102.4rem;
  height: auto;
  margin: auto;
}

.register-form input,
.login-form input,
.recover-pass-form input,
.task-form input,
.task-form textarea {
  width: 90%;
  max-width: 68rem;
  font-family: var(--lt);
  font-size: var(--p-fsz);
  color: var(--wt);
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  background-color: var(--gr);
}

.register-form input,
.login-form input,
.task-form input {
  height: 2.5rem;
}

.recover-pass-form input,
.register-form input,
.login-form input {
  min-width: 25rem;
  width: 60%;
  max-width: 46rem;
}

.login-form~label {
  font-family: var(--rg);
  font-size: var(--p-fsz);
  color: var(--grl);
  margin: 2rem auto;
  width: fit-content;
  display: flex;
}

.login-google-button {
  font-family: var(--smb);
  font-size: var(--bt-fsz);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 18rem;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  gap: 0.5rem;
}

.login-google-button img {
  width: 3rem;
}

.dashboard {
  width: 100%;
  margin: 0 0 2rem;
}

.dashboard-no-logged {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  margin: 0;
}

.task-form textarea {
  height: 8rem;
  resize: none;
}

.register-form input::placeholder,
.login-form input::placeholder,
.recover-pass-form input::placeholder,
.task-form input::placeholder,
.task-form textarea::placeholder {
  font-family: var(--lt-it);
  font-size: var(--p-fsz);
  color: var(--grl);
}

.recover-pass-form button,
.register-form button,
.login-form button,
.task-form button {
  font-family: var(--smb);
  font-size: var(--bt-fsz);
  color: var(--wt);
  width: 12rem;
  height: 3rem;
  background-color: var(--gn);
  border: none;
  box-shadow: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.register-form>label,
.login-form>label {
  font-family: var(--lt);
  font-size: var(--bt-fsz);
  color: var(--grl);
}

.span-error-taskform {
  font-family: var(--lt-it) !important;
  font-size: var(--p-fsz) !important;
}

.login-form>label>a:link,
.login-form>label>a:visited {
  font-family: var(--smb);
  color: var(--gn);
  text-decoration: none;
}

.modal-register-error button,
.modal-login-error button {
  background-color: var(--bl) !important;
}

.are-logged {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 35rem;
  height: 65vh;
  max-height: 68rem;
}

.are-logged h4 {
  font-size: var(--h2-fsz);
  text-align: center;
}

.are-logged p {
  font-family: var(--lt);
  font-size: var(--p-desc-fsz);
  color: var(--grl);
  text-align: center;
  margin: 1rem;
}

.app-header section a:link,
.app-header section a:visited,
.are-logged a:link,
.are-logged a:visited {
  font-family: var(--rg);
  font-size: var(--p-desc-fsz);
  text-align: center;
}

.app-header section a:link,
.app-header section a:visited {
  color: var(--rd);
  text-decoration: none;
  width: 11rem;
}

.are-logged a:link,
.are-logged a:visited {
  color: var(--gn);
}

.task-list {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 102.4rem;
  height: auto;
  padding: 0;
}

.app-header section h1>a {
  font-family: var(--smb) !important;
  font-size: var(--h1-fsz) !important;
  color: var(--wt) !important;
  margin: 0;
  height: fit-content;
}

.pending-task,
.done-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: auto;
  padding: 0;
}

.list>li>div {
  display: flex;
}

.list>li>div>h4 {
  width: fit-content;
  margin: 0 0 0.5rem 0;
}

.list>li>div>img {
  width: 1.7rem;
  height: 2.5rem;
  margin: 0 0 0 0.5rem;
  cursor: pointer;
}

h1 {
  font-family: var(--smb);
  font-size: var(--h1-fsz);
  color: var(--wt);
  letter-spacing: 0.1rem;
  text-align: center;
  width: fit-content;
  margin: 1rem auto;
}

h2 {
  font-family: var(--rg);
  font-size: var(--h2-fsz);
  color: var(--wt);
  letter-spacing: 0.1rem;
  text-align: center;
  width: fit-content;
  margin: 1rem auto;
}

h3 {
  font-family: var(--rg);
  font-size: var(--h3-fsz);
  color: var(--wt);
  letter-spacing: 0.1rem;
  text-align: center;
  display: flex;
  margin: 0;
}

h4 {
  font-family: var(--rg);
  font-size: var(--h4-fsz);
  color: var(--wt);
  letter-spacing: 0.1rem;
  text-align: center;
  display: flex;
  margin: 0;
}

li:not(li:last-child span) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  max-width: 102.4rem;
  height: 6.5rem;
  list-style: none;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--gr);
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 0 0 0 auto;
}

.buttons-container button,
.selection-container button,
.modal-task-description button {
  font-family: var(--smb);
  font-size: var(--p-fsz);
  color: var(--wt);
  min-width: 12rem;
  width: 25%;
  max-width: 15rem;
  height: 2.5rem;
  margin: 0;
  border: none;
  box-shadow: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.buttons-container button:first-child {
  background-color: var(--gn);
}

.buttons-container button:last-child {
  background-color: var(--rd);
}

.buttons-container button:only-child {
  color: var(--bk);
  background-color: var(--grl);
  width: 14.5rem;
}

li span {
  font-family: var(--lt);
  font-size: var(--min-fsz);
  color: var(--wt);
  width: fit-content;
  margin: 0.5rem 0 0;
}

.modal-body {
  display: flex;
  place-items: center;
  place-content: center;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #00000050;
}

.modal-content {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: var(--wt);
  width: 75%;
  max-width: 62rem;
  height: auto;
  padding: 2rem;
  gap: 1.5rem;
  border-radius: 1rem;
}

.modal-content h3 {
  font-family: var(--smb);
  font-size: var(--h3-fsz);
  color: var(--bk);
  text-align: center;
  letter-spacing: 0;
  margin: 0.5rem 0;
}

.modal-content label {
  font-family: var(--smb);
  font-size: var(--p-desc-fsz);
  margin: 0 0 1rem;
}

.modal-task-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
}

.modal-task-description h4 {
  color: var(--bk);
  margin: 0 0 1rem !important;
}

.modal-task-description label {
  font-size: var(--p-inter-fsz);
}

.modal-task-description p {
  font-family: var(--rg);
  font-size: var(--p-desc-fsz);
  color: var(--bk);
  text-align: justify;
  width: 100%;
  height: auto;
  margin: 0 0 1rem;
}

.modal-task-description button {
  background-color: var(--rd);
  margin: 0 0 0 auto;
}

.selection-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  height: fit-content;
}

#confirmDelete {
  background-color: var(--rd);
}

#cancelDelete {
  background-color: var(--bl);
}

#acceptError {
  font-family: var(--smb);
  font-size: var(--bt-fsz);
  color: var(--wt);
  letter-spacing: 0.1rem;
  width: 10rem;
  height: 2.5rem;
  border: none;
  box-shadow: none;
  border-radius: 0.5rem;
  background-color: var(--bl);
  cursor: pointer;
}

.title-login-register {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

@media screen and (max-width: 780px) {

  .app-home {
    margin: 1rem 0;
    height: 70vh;
  }

  li:not(li:last-child span) {
    justify-content: space-around;
    height: 9rem;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
  }

  .buttons-container button,
  .selection-container button,
  .modal-task-description button {
    font-size: var(--bt-fsz);
    min-width: 10rem;
    width: 25%;
    max-width: 12rem;
  }

  .buttons-container button:only-child {
    min-width: 13rem;
  }
}

@media screen and (max-width: 600px) {

  h1,
  .app-header section h1>a {
    font-size: var(--h2-fsz) !important;
    margin: 1rem auto;
  }

  .app-header section:nth-child(2)>label {
    font-size: var(--p-inter-fsz);
  }

  .dashboard-link{
    width: 4.5rem !important;
    height: 4.5rem !important;
    margin: 0.5rem 1.75rem
  }
  
  .dashboard-link .dashboard-link-ico{
    width: 4.5rem;
    margin: 0;
  }

  .settings-link{
    width: 3.5rem !important;
    height: 3.5rem !important;
    margin: 0 0 0 1rem;
  }
  
  .settings-link .settings-link-ico{
    width: 3.5rem;
    height: 3.5rem;
  }
  
  h2 {
    font-size: var(--h3-fsz);
  }

  h3 {
    font-size: var(--p-desc-fsz);
  }

  h4 {
    font-size: var(--p-inter-fsz);
  }

  h4 img {
    margin: 0 0 0 1rem;
  }

  .app-header section img {
    margin: 1rem 2rem;
  }

  .app-header section div {
    width: 8rem;
    height: 6rem;
  }

  .app-header section a:link,
  .app-header section a:visited {
    font-size: var(--bt-fsz);
    width: 8rem;
  }

  .app-home {
    margin: 1rem 0;
    height: auto;
  }

  .app-home p {
    font-size: var(--p-fsz);
    width: 80%;
  }

  .are-logged h4 {
    font-size: var(--h3-fsz);
  }

  .are-logged p {
    font-size: var(--p-inter-fsz);
  }

  .modal-content h3 {
    font-size: var(--h4-fsz);
  }

  .modal-content label {
    font-size: var(--p-inter-fsz);
  }

  .modal-task-description p,
  .modal-task-description label {
    font-size: var(--bt-fsz);
    letter-spacing: 0;
  }

  .modal-task-description h4 {
    font-size: var(--p-fsz);
  }

  .task-form input,
  .task-form textarea,
  .task-form input::placeholder,
  .task-form textarea::placeholder {
    font-size: var(--bt-fsz);
  }
}

@media screen and (max-width: 509px) {
  li:not(li:last-child span) {
    height: 14rem;
  }
}

@media screen and (max-width: 480px) {
  .task-list {
    flex-wrap: wrap;
  }

  li:not(li:last-child span) {
    height: 7.5rem;
  }

  .pending-task,
  .done-task {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  h1,
  .app-header section h1>a {
    font-size: var(--h3-fsz) !important;
  }

  .app-header section:nth-child(2)>label {
    font-size: var(--p-fsz);
  }

  .app-header section>div,
  .app-header section>div>a:link,
  .app-header section>div>a:visited {
    width: 5rem;
  }

  .dashboard-link{
    width: 3.5rem !important;
    height: 3.5rem !important;
    margin: 1.5rem 0.75rem;
  }
  
  .dashboard-link .dashboard-link-ico{
    width: 3.5rem;
    height: 3.5rem;
    margin: 0;
  }

  .settings-link{
    width: 3rem !important;
    height: 3rem !important;
    margin: 0 0 0 1rem;
  }
  
  .settings-link .settings-link-ico{
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 320px) {
  .selection-container {
    flex-direction: column;
    gap: 1.5rem;
  }
}
